# Runtime dependencies for AI-RPG
# Python 3.11+

openai
google
google.genai
grpcio
grpcio-status
pydantic
# 🆕 Required by chromadb
pydantic-settings
python-dotenv
customtkinter
requests

# Vector store and embeddings
chromadb

# If Nvidia GPU
#onnxruntime-gpu

# If Windows on CPU
onnxruntime-directml

# If Linux on CPU
#onnxruntime

fastembed

# Optional (uncomment if/when you add local RAG)
# faiss-cpu
# sqlite-vss